<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="nomade"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Nômade | Adicionar novo local</title>
    <meta name="description" content="Consulte os locais bacanas para você trabalhar
      fora de casa, ou fazer aquela reunião bacana.">
    <meta name="viewport" content="width=device-width">

    <title>Nômade</title>
    <link href="assets/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="assets/style.css" rel="stylesheet">

</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="jumbotron">
          <h1>Nômade</h1>
          <h3>O melhor cowork é a vida!</h3>
          <p>Consulte os locais bacanas para você trabalhar
            fora de casa, ou fazer aquela reunião bacana.</p>
        </div>

        <div class="main-content" ng-controller="nomadeCtrl">

          <form ng-submit="onSubmit()"
	              name="theForm"
				        novalidate="novalidate">

            <h3>Adicionar um novo local</h3>
            <hr>

            <div class="form-group">
              <input name="Onde"
                     id="input_onde"
                     type="text"
                     class="form-control"
                     placeholder="Nome do estabelecimento"
                     ng-model="formModel.onde"
                     required="required">
            </div>

            <div class="form-group">
              <input name="Local"
                     id="input_local"
                     type="text"
                     class="form-control"
                     placeholder="Onde fica? Ex. Shopping Palmeiras"
                     ng-model="formModel.local"
                     required="required">
            </div>

            <div class="form-group">
              <input name="Bairro"
                     id="input_bairro"
                     type="text"
                     class="form-control"
                     placeholder="Qual bairro?"
                     ng-model="formModel.bairro"
                     required="required">
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-4">
                  <select name="Estado"
                          id="input_estado"
                          class="form-control"
                          ng-model="formModel.cidade"
                          required="required">
                  </select>
                </div>
                <div class="col-xs-8">
                  <select name="Cidade"
                          id="input_cidade"
                          class="form-control"
                          ng-model="formModel.estado"
                          required="required">
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <select name="Wifi"
                      id="select_wifi"
                      class="form-control"
                      ng-model="formModel.wifi">
                <option value="">Tem wifi livre?</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
              </select>
            </div>

            <div class="form-group">
              <select name="Tomada"
                      id="select_tomada"
                      class="form-control"
                      ng-model="formModel.tomada">
                <option value="">Tem tomada disponível</option>
                <option value="sim">Sim</option>
                <option value="sim">Não</option>
              </select>
            </div>

            <div class="form_group">
              <br>
              <button type="submit" class="btn btn-primary">
                <span ng-show="enviando">Enviando</span>
                <span ng-show="!enviando">Enviar</span>
              </button>
            </div>

          </form>

          <pre>{{ formModel | json }}</pre>

        </div>

      </div><!-- col-xs-12 -->
    </div><!-- row -->
  </div><!-- container -->

  <footer id="rodape" class="row">
    <div class="container">
      Contribuia com este projeto no <a href="https://github.com/felipefernandes/nomade/" target="_blank">GitHub</a>.
    </div>
  </footer><!-- rodape -->

  <script lang="Javascript" src="assets/components/angular/angular.min.js"></script>
  <script lang="Javascript" src="assets/components/angular-auto-validate/dist/jcs-auto-validate.min.js" ></script>
  <script lang="Javascript" src="assets/components/jquery/dist/jquery.min.js"></script>
  <script lang="javascript" src="assets/components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script lang="javascript" src="assets/cidades-estados-1.4-utf8.js"></script>
  <script lang="Javascript" src="assets/main.js"></script>
  <script lang="Javascript">
  // Carregar os estados
  <!--
    $(document).ready(function() {
      new dgCidadesEstados({
        estado: $('#input_estado').get(0),
        cidade: $('#input_cidade').get(0),
        change: true
      });
    });
  -->
  </script>
</body>
</html>
